@keyframes loader {
  0% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes flip {
  40% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}
@keyframes slide-top {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@font-face {
  font-family: "roboto-bold";
  src: url(../police/Roboto-Bold.ttf);
}
@font-face {
  font-family: "roboto-thin";
  src: url(../police/Roboto-Thin.ttf);
}
@font-face {
  font-family: "shrikhand";
  src: url(../police/Shrikhand-Regular.otf);
}
.load {
  font-family: "shrikhand";
  width: 100%;
  height: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
  animation: loader 3s ease-in-out both;
  perspective: 700px;
}

.load__text {
  font-size: 2em;
  margin: 5px;
  animation: flip 1.8s ease;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
}
.load__text.load__text-1 {
  animation-delay: 0.1s;
}
.load__text.load__text-2 {
  animation-delay: 0.2s;
}
.load__text.load__text-3 {
  animation-delay: 0.3s;
}
.load__text.load__text-4 {
  animation-delay: 0.4s;
}
.load__text.load__text-5 {
  animation-delay: 0.5s;
}
.load__text.load__text-6 {
  animation-delay: 0.6s;
}
.load__text.load__text-7 {
  animation-delay: 0.7s;
}
.load__text.load__text-8 {
  animation-delay: 0.8s;
}

.city {
  border-color: #EAEAEA;
  background-color: #EAEAEA;
  border-style: solid;
  text-align: center;
  font-size: 1em;
  font-family: "roboto";
}
.city::placeholder {
  color: black;
}
.city:focus {
  outline: none;
}

#reservation {
  text-align: center;
  padding: 16px 16px 25px 16px;
  background-color: #F6F6F6;
}
#reservation p {
  margin: 10px 0 25px 0;
  font-family: "roboto-thin";
  font-weight: bolder;
}
#reservation input {
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  border-radius: 30px;
  border: none;
  color: white;
  box-shadow: 0px 5px 5px 0px #aaaaaad3;
  padding: 15px 45px;
  margin-bottom: 40px;
  font-family: "roboto-thin";
  font-weight: bold;
}
#reservation input:hover {
  filter: brightness(105%);
  box-shadow: 0px 5px 5px 0px #AAAAAA;
}

#fonctionnement {
  padding: 30px 10px;
}
#fonctionnement .fonctionnement {
  list-style: none;
  padding: 0;
  counter-reset: etape;
}
#fonctionnement .fonctionnement__etape {
  padding: 25px;
  margin: 20px 0px 35px 10px;
  box-shadow: 0px 5px 5px 0px #AAAAAA;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  font-family: "roboto-bold";
}
#fonctionnement .fonctionnement__etape:before {
  background: #9356DC;
  height: 23px;
  width: 23px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -10px;
  counter-increment: etape 1;
  content: counter(etape) " ";
}

#restaurants {
  padding: 40px 15px;
  background-color: #F6F6F6;
}
#restaurants .restaurants__title {
  padding-bottom: 25px;
}
#restaurants .restaurants__figure, #restaurants .restaurants__figure__new {
  background-color: white;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 5px 5px 0px #AAAAAA;
}
#restaurants .restaurants__figure__new__tag {
  background-color: #99E2D0;
  color: #008766;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "roboto-bold";
}
#restaurants img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  image-rendering: pixelated;
  border-radius: 20px 20px 0 0;
}
#restaurants .figcaption__restaurants {
  padding: 20px 25px 20px 20px;
  position: relative;
  display: flex;
  align-items: center;
}
#restaurants .figcaption__details {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#restaurants .figcaption__restaurants__name {
  font-family: "roboto-bold";
  margin-bottom: 5px;
  font-size: 1.2em;
}
#restaurants .figcaption__restaurants__city {
  font-family: "roboto-thin";
  font-weight: bolder;
}

.fas.fa-heart {
  font-size: 25px;
  position: absolute;
  right: 25px;
  top: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.btn__heart:hover .fas.fa-heart {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.far.fa-heart {
  font-size: 26px;
  position: absolute;
  right: 25px;
  top: 30px;
  opacity: 1;
}

.btn__heart:hover .far.fa-heart {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

@media (max-width: 1023px) {
  .restaurants__figure__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .fonctionnement {
    display: flex;
    justify-content: space-evenly;
  }

  .fonctionnement__etape {
    width: 250px;
  }

  .restaurants__figure__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
