@import "../Utils/colours.scss";

footer {
    background-color: $colour-background-footer;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: "roboto";
    font-weight: 400;
    h3 {
        font-family: "Shrikhand";
        font-weight: lighter;
        letter-spacing: 0.4px;
        font-size: 1.25em;
    }
    .footer__suggest {
        display: flex;
        align-items: center;
    }
    .fa-utensils {
        margin: 0 18px 0 0;
    }
    .footer__sponso {
        display: flex;
        align-items: center;
    }
    .fa-hands-helping {
            margin: 0 10px 0 0;
    }
}
    