@import "../Utils/colours.scss";

header {
    text-align: center;
    margin-top: 15px;
    #logo {
        margin-bottom: 10px;
    }
    .localisation {
        display: block;
        padding: 20px;
        background-color: $colour-localisation;
        box-shadow: 1px 9px 9px -10px rgba(100,100,100,1) inset;
    }
}