@import "../Utils/variables";
@import "../Utils/btn";

@font-face {
font-family: 'roboto-bold';
src: url(../police/Roboto-Bold.ttf);
}

@font-face {
font-family: 'roboto-thin';
src: url(../police/Roboto-Thin.ttf);
}

@font-face {
font-family: 'shrikhand';
src: url(../police/Shrikhand-Regular.otf);
}

.fas {
font-size: large;
}

.city {
    border-color: $colour-localisation;
    background-color: $colour-localisation;
    border-style: solid;
    text-align: center;
    font-size: 1em;
    font-family: 'roboto';
    &::placeholder {
        color: black;
    }
    &:focus {
        outline: none;
    }
}

#reservation {
text-align: center;
padding: 16px 16px 25px 16px;
background-color: $colour-background;
    p {
        margin: 10px 0 25px 0;
        font-family: 'roboto-thin';
        font-weight: bolder;
    }
    input {
        @include btn-explore-order 
    }
    input:hover {
        filter: opacity(0.9);
        box-shadow: 0px 0px 15px black;
        }
}

#fonctionnement {
    padding: 30px 10px;
    .fonctionnement {
    list-style: none;
    counter-reset: etape;
    padding: 0;
    }
    .fonctionnement__etape {
        padding: 25px;
        margin: 20px 0px 35px 10px;
        box-shadow: 0px 0px 5px black;
        border-radius: 20px;
        background-color: $colour-background;
        display: flex;
        position: relative;
        justify-content: space-evenly;
        font-family: 'roboto-bold';
        }
    .fonctionnement__etape:before {
        counter-increment: etape 1;
        content: counter(etape) " ";
        background: $colour-primary;
        height: 23px;
        width: 23px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        left: -10px;
    }
}

#restaurants {
padding: 40px 15px;
background-color: $colour-background;
    .restaurants__title {
        padding-bottom: 25px;
    }
    .restaurants__figure, .restaurants__figure__new {
        background-color: white;
        border-radius: 20px;
        position: relative;
        box-shadow: 0px 0px 5px black;
    }
    .restaurants__figure__new__tag {
        background-color: #99E2D0;
        color: #008766;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 10px;
        right: 10px;
        font-family: 'roboto-bold';
    }
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        image-rendering: pixelated;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .figcaption__restaurants {
        padding: 1rem;
        position: relative;
        display: flex;
        align-items: center;
    }
    .figcaption__details {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .figcaption__restaurants__name {
        font-family: 'roboto-bold';
        margin-bottom: 5px;
        font-size: 1.2em;
    }
    .figcaption__restaurants__city {
        font-family: 'roboto-thin';
        font-weight: bolder;
    }
    .btn__heart {
        border: solid 1px green;
    }
}

@media (max-width: 1023px) {
    .restaurants__figure__list {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 30px;
    }
}

@media (min-width: 1024px) {
    .fonctionnement { 
        display: flex;
        justify-content: space-evenly;
    }
    .fonctionnement__etape {
        width: 250px;
    }
    .restaurants__figure__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
}
