@import "../Utils/variables";
@import "../Utils/btn";

.fas {
    font-size: large;
}

.city {
     border-color: $colour-localisation;
     background-color: $colour-localisation;
     border-style: solid;
     text-align: center;
     font-size: 1em;
     font-family: 'roboto';
    &::placeholder {
        color: black;
    }
    &:focus {
        outline: none;
    }
}

#reservation {
    text-align: center;
    padding: 16px 16px 25px 16px;
    background-color: $colour-background;
    p {
        margin: 10px 0 25px 0;
        font-family: 'roboto';
        font-weight: 600;
    }
    input {
        @include btn-explore-order
    }
}

#fonctionnement {
    padding: 15px;
    .number {
        border-radius: 50px;
        background-color: $colour-primary;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
}
    }
    .element {
        background-color: $colour-background;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0 10px 0;
        height: 65px;
        width: 100%;
        border-radius: 20px;
        font-size: 0.7em;
    }

    @media screen and (max-width:360px) {
        .number {
            margin-left: -25px;
        }
    }
    @media screen and (min-width:361px) and (max-width:390px) {
        .number {
            margin-left: -35px;
        }
    }
    @media screen and (min-width:391px) and (max-width:425px) {
        .number {
            margin-left: -45px;
        }
    }

#restaurants {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 6%;
    height: 1100px;
    background-color: $colour-background;
    .restaurants__figure {
        flex-direction: column;
        align-items: center;
        width: fit-content;
        box-shadow: 0px 0px 5px 0px #000000;
        border-radius: 20px;
        background-color: white;
    }
    img {
        width: 280px;
        height: 150px;
        object-fit: cover;
        image-rendering: pixelated;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    figcaption {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 5px 15px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-family: "roboto";
    }
    .restaurants__localisation {
        padding: 0 0px 15px 15px;
        font-family: 'roboto';
    }
}

.new {
    position: absolute;
    margin: -215px 0 0 180px;
    padding: 5px 10px;
    background-color: #99E2D0;
    font-family: "roboto";
    color: #008766;
    border-radius: 3px;
}