@font-face {
    font-family: "roboto";
    src: url(police/Roboto-Regular.ttf);
}
@font-face {
    font-family: "roboto-bold";
    src: url(police/Roboto-Bold.ttf);
}
@font-face {
    font-family: "roboto-thin";
    src: url(police/Roboto_Thin.ttf);
}
@font-face {
    font-family: "shrikhand";
    src: url(police/Shrikhand-Regular.otf);
}