@import "../Utils/colours";
@import "../Utils/btn";

* {
    margin: 0;
}
a {
    color: #FFFF;
    text-decoration: none;
}
 a:hover {
    color: #000000;
}
 a:active {
    color: #000000;
}
a:visited {
    color: #000000;
}