@import "../Utils/colours";

@mixin loader-all-pages {
    font-family: "shrikhand";
    width: 100%;
    height: 100%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: $colour-background;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 0;
    animation: loader 3s ease-in-out both;
} 

@mixin loader-text {
    font-size: 2em;
    margin: 5px;
    animation: flip 1.8s ease;
    transform-origin:0 50%;
	transform-style:preserve-3d;
}
